.nav-background {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0px 4px 16px 0px;
}
.logo {
  height: 10vh;
}
.nav-container-2 {
  display: flex;
}
.list {
  list-style-type: none;
}
.flex {
  display: flex;
}
.knowUs {
  margin-left: 20px;
  margin-right: 20px;
}
.login-button {
  background-color: blue;
  color: #ffffff;
  border-radius: 15px;
  border-width: 0;
  width: 5vw;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
